
<div
    class="p-5 text-center bg-image"
    style=" background-image: url('/assets/p10.jpg');
      height: 600px;
    "
  >

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <br/>
          <br/>
          <h1 class="mb-3">Hotel Spices</h1>
          <br/>
          <h5 class="mb-3">
<p style="text-align:left;">
Since our modest beginnings in 2005 with a little space in kochi’s stylish locale, Hotel Spices‘s development has been enlivened with the energy to cook and serve solid, Indian-roused takeout food. In contrast to other Indian eateries, Hotel Spices was made with the explicit expectation to appear as something else. We realize numerous individuals love Indian sustenance, yet a large number of them loathe or are unconscious of the regularly unfortunate fixings that make run of the mill Indian nourishment taste so great. Our menu highlights things that utilization the sound and fragrant flavors, however forgets the stuffing ghee, spread, oil, and overwhelming cream.
<br/>
<br/>
Hotel Spices has developed to incorporate four superb takeout areas in Kochi with additional to come sooner rather than later. Our group takes pride in the way that we can furnish our new and faithful clients with extraordinary tasting Indian-roused nourishment that is not normal for that at some other Indian eatery you visit. We perceive that a few people are as yet searching for the run of the mill Indian nourishment, and that is fine with us.
<br/>
</p>


 
</h5>
          
        </div>
      </div>
    </div>
  </div>




<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact information</h5>

        
					
					<p class="lead">Kochi, Ernakulam ,Kerala ,643500</p>
					<p class="lead">Call Us at:
						<a >9999978785</a></p>
					<p> Mail us: <a href="#">admin123@gmail.com</a></p>
				
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Opening hours</h5>

       
					
					<p><span class="text-color">Monday: </span>Closed</p>
					<p><span class="text-color">Tue-Wed :</span> 5:PM - 12AM</p>
					<p><span class="text-color">Thu-Fri :</span> 5:PM - 12AM</p>
					<p><span class="text-color">Sat-Sun :</span> 4:PM - 12AM</p>
				
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

 
</footer>


