

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active"
      
    style="
      background-image: url('/assets/p2.jpg');
      height: 600px;background-size: 100vw 100vh;
    "
  >
    </div>
    <div class="carousel-item"
     style="
      background-image: url('/assets/d2.jpg');
      height: 600px;background-size: 100vw 100vh; 
    ">
      
    </div>
    <div class="carousel-item"
     style="
      background-image: url('/assets/m9.jpg');
      height: 600px;background-size: 100vw 100vh; 
    ">
      
    </div>
    <div class="carousel-item"
     style="
      background-image: url('/assets/p3.jpg');
      height: 600px;background-size: 100vw 100vh; 
    ">
      
    </div>
    <div class="carousel-item"
     style="
      background-image: url('/assets/p4.jpg');
      height: 600px;background-size: 100vw 100vh;
    ">
      
    </div>
    <div class="carousel-item"
     style="
      background-image: url('/assets/p5.jpg');
      height: 600px;background-size: 100vw 100vh;
    ">
      </div>
      <div class="carousel-item"
     style="
      background-image: url('/assets/p6.jpg');
      height: 600px;background-size: 100vw 100vh;
    ">
    </div>

    

  </div>



  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a>

</div>

 