
<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/assets/p7.jpg');
      height: 900px;
    "
  >

    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">

          

          <h1 class="mb-3">Our Menu</h1>
        
            <table class="table table-hover text-white ">
  <thead class="table-primary" >
    <tr>
      <th>Name</th>
      <th>Price(Rs)</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= link_to food.name,food %></td>
        <td><%= food.price %></td>
        <td><%= food.category %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>



 
<br/>
<br/>

 

          
        </div>
      </div>
    </div>
  </div>
